{
    "name": "{{ global_projectName }}",
    "dockerComposeFile": "compose.yaml",
    "service": "devel",
    "workspaceFolder": "/workspace",
    "customizations": {
        "vscode": {
            "extensions": {},
        }
    },
    "initializeCommand": ".devcontainer/init_env",
    "postStartCommand": ".devcontainer/postStart"
}